@charset "UTF-8";

/*
CORES USADAS:
#C5EBD6
#83E1AD
#3DDC84
#2FA866
#1A5C37
#063D1E
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('./pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue', cursive;
    --fonteandroid: 'Android', cursive;
}


* {
    margin: 0px;
}

header {
    padding-top: 30px;
    background-image: linear-gradient(to bottom, var(--cor3) 20%, var(--cor5) 80%);
    color: white;
}

h1 {
    font-family: var(--fontedestaque);
    text-align: center;
    padding-top: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);
    font-weight: normal;
}

header > p {
    text-align: center;
    margin: 35px;
    font-size: 1.3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.308);
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px;
    margin: 10px;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

body {
    background-color: #c5ebd6;
    font-family: var(--fontepadrao);
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

main img {
    width: 100%;
}

h2 {
    margin-top: 10px;
    color: var(--cor4);
    font-size: 30px;
    background-color: var(--cor1);
    padding: 0px 0px 0px 10px;
    font-family: var(--fonteandroid);
}

main > p {
    padding: 15px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
    padding: 2px 5px;
}

main a {
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
    font-weight: bold;
    text-decoration: none;
}

main a:hover {
    color: var(--cor3);
    text-decoration: underline;
}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

#video {
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 57%;
    position: relative;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#final {
    background-color: var(--cor0);
    border-radius: 10px;
    margin: 30px 25px 10px 25px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.753);
}

#final > h3 {
    background-color: var(--cor5);
    color: white;
    margin: -20px -20px 25px -20px;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.418);
}

#final > p {
    text-align: justify;
    text-indent: 15px;
    padding: 0px 10px 20px 10px;
}

#final > ul {
    list-style-position: inside;
    padding: 0px 0px 20px 0px;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 7px;
}

footer > p > a {
    text-decoration: none;
    color: var(--cor2);
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}